header {
    display: block;
    font-family: Arial, sans-serif;
    background-color: rgb(33, 65, 77);
    color: rgb(250, 250, 250);
    padding: 15px 25px;
    margin: 0;
    text-align: center;
}

body {
    display: block;
    font-family: Garamond, serif;
}

h3, h4 {
    display: block;
    font-family: Arial, sans-serif;
}

footer {
    background-color: rgb(150, 150, 150);
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.socials {
    width: 2.5vw;
    height: auto;
    border-radius: 8px;
}

.socials:hover {
    box-shadow: 3px 3px;
}

#insta {
    width: 2vw;
    height: auto;
    border-radius: 8px;
}

#insta:hover {
    box-shadow: 3px 3px;
}
